{% extends "base.html" %}
{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white fw-bold">Add New Member</div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Member Name</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary"><i class="fas fa-user-plus"></i> Add Member</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
